<mat-toolbar>
  <mat-toolbar-row class="head">
    <span>TechnoEduSis</span>
    <span class="space-button"></span>
    <section>
      <div>
        <button mat-button color="primary">
          <mat-icon>add</mat-icon> Inserir
        </button>
        <button mat-button color="primary">
          <mat-icon>edit</mat-icon> Editar
        </button>

      </div>
    </section>
  </mat-toolbar-row>

</mat-toolbar>


<body>

  <h2 class="texto-centalizado">Inserir uma Questão</h2>

  <form class="formulario" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label ng>Disciplina</mat-label>
      <input matInput [(ngModel)]="novaQuestao.disciplina" name="disciplina">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Assunto</mat-label>
      <input matInput [(ngModel)]="novaQuestao.assunto" name="assunto">
    </mat-form-field>

    <p>
      <mat-form-field class="input-big-width">
        <mat-label>Enunciado da questão</mat-label>
        <input matInput [(ngModel)]="novaQuestao.texto" name="texto">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Potuação</mat-label>
        <input matInput [(ngModel)]="novaQuestao.pontuacao" name="pontuacao">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nível de Dificuldade</mat-label>
        <input matInput [(ngModel)]="novaQuestao.nivel_dificuldade" name="nivel_dificuldade">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Tempo em segundos</mat-label>
        <input matInput [(ngModel)]="novaQuestao.tempo_segundos" name="tempo_segundos">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Alternativa 1</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <mat-form-field>
      <mat-label>Alternativa 2</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <p>
      <mat-form-field>
        <mat-label>Alternativa 3</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Alternativa 4</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Alternativa 5</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>

    <div>
      <button mat-raised-button class="example-button-row" color="primary" type="submit">
        Enviar <mat-icon>send</mat-icon></button>
    </div>

  </form>
</body>
